# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Identify commonly used Data Science tools
- Demonstrate basic arithmetic operations in Python
- Convert units using Python expressions
- Summarize key concepts in Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Seaborn
4. Scikit-learn

# Data Science Tools


| Tool      |
|-----------|
| Anaconda  |
| VSCode    |
| PyCharm   |
| Alteryx   |
| Qlik      |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author
Ajay Kumar S